In [1]:
#Create a list with at least five elements and demonstrate how to use `append()` and `extend()`.
# Create a list with five elements
my_list = [1, 2, 3, 4, 5]

# Use append() 
my_list.append(6)
print("After append:", my_list)


# Use extend() to add multiple elements to the end of the list
my_list.extend([7, 8, 9])
print("After extend:", my_list)

After append: [1, 2, 3, 4, 5, 6]
After extend: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
# Given a list `numbers = [3, 6, 9, 12, 15]`, insert `99` at index `2` and remove `6` from the list.
numbers = [3, 6, 9, 12, 15]

numbers.insert(2, 99)


numbers.remove(6)

print(numbers)

[3, 99, 9, 12, 15]

In [3]:
# Reverse the list `['apple', 'banana', 'cherry']` using the appropriate method.
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [4]:
#Sort the list `[12, 4, 56, 78, 23, 1]` in **descending order**.
numbers = [12, 4, 56, 78, 23, 1]
sorted_numbers = sorted(numbers, reverse=True)
print(sorted_numbers)

[78, 56, 23, 12, 4, 1]

In [6]:
#Write a Python program to count the occurrences of `5` in the list `[5, 1, 5, 2, 5, 3]`.
numbers = [5, 1, 5, 2, 5, 3]

# Count the occurrences of 5
count_5 = numbers.count(5)

print("Number of times 5 appears in the list:", count_5)

Number of times 5 appears in the list: 3

In [7]:
#Use `pop()` to remove and print the last element of `[10, 20, 30, 40]`.

numbers = [10, 20, 30, 40]

# Use pop() to remove and return the last element
last_element = numbers.pop()

# Print the removed element
print("Removed element:", last_element)

# Print the updated list
print("Updated list:", numbers)

Removed element: 40
Updated list: [10, 20, 30]

In [8]:
#Copy a list using the `copy()` method and modify the new list without affecting the original.

original_list = [1, 2, 3, 4]

# Copy the list using copy()
copied_list = original_list.copy()

# Modify the copied list
copied_list.append(5)

# Print both lists
print("Original list:", original_list)
print("Copied and modified list:", copied_list)

Original list: [1, 2, 3, 4]
Copied and modified list: [1, 2, 3, 4, 5]

In [9]:
#Find and print the index of `20` in `[10, 20, 30, 40]`

numbers = [10, 20, 30, 40]

# Find the index of 20
index_of_20 = numbers.index(20)

# Print the result
print("Index of 20:", index_of_20)

Index of 20: 1

In [10]:
#Create a tuple tup = (100, 200, 300, 400, 500), and print the second element.

tup = (100, 200, 300, 400, 500)

#print the second element
print("Second element:", tup[1])

Second element: 200

In [11]:
#Given a tuple (5, 10, 15, 10, 20), find how many times 10 appears.

tup = (5, 10, 15, 10, 20)

# Count how many times 10 appears
count_10 = tup.count(10)

print("Number of times 10 appears:", count_10)

Number of times 10 appears: 2

In [12]:
#Convert the tuple (1, 2, 3, 4, 5) into a list, append 6, and convert it back into a tuple.

tup = (1, 2, 3, 4, 5)

# Convert to list
temp_list = list(tup)

# Append 6 to the list
temp_list.append(6)

# Convert back to tuple
new_tup = tuple(temp_list)

print("Updated tuple:", new_tup)

Updated tuple: (1, 2, 3, 4, 5, 6)

In [13]:
#Check if 50 exists in the tuple (10, 20, 30, 40, 50).

tup = (10, 20, 30, 40, 50)

# Check if 50 exists in the tuple
if 50 in tup:
    print("50 exists in the tuple.")

50 exists in the tuple.

In [14]:
#Unpack the tuple ('red', 'green', 'blue') into three variables and print them.

colors = ('red', 'green', 'blue')

# Unpack the tuple into variables
color1, color2, color3 = colors

# Print the variables
print("Color 1:", color1)
print("Color 2:", color2)
print("Color 3:", color3)

Color 1: red
Color 2: green
Color 3: blue

In [15]:
#Create two sets {1, 2, 3, 4} and {3, 4, 5, 6} and find their union.

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the union of the sets
union_set = set1.union(set2)

print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5, 6}

In [16]:
#Find the intersection of {2, 4, 6, 8} and {1, 2, 3, 4}.

set1 = {2, 4, 6, 8}
set2 = {1, 2, 3, 4}

# Find the intersection
intersection_set = set1.intersection(set2)

print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 4}

In [17]:
#Demonstrate how to add an element 10 to a set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}

# Add 10 to the set
my_set.add(10)

print("Updated set:", my_set)

Updated set: {1, 2, 3, 4, 5, 10}

In [18]:
#Given my_set = {10, 20, 30, 40}, remove 20 using the discard() method.

my_set = {10, 20, 30, 40}

# Remove 20 using discard()
my_set.discard(20)

print("Updated set:", my_set)

Updated set: {40, 10, 30}

In [19]:
#Find the difference between {10, 20, 30} and {20, 30, 40}.

set1 = {10, 20, 30}
set2 = {20, 30, 40}

# Find the difference: elements in set1 but not in set2
difference = set1.difference(set2)

print("Difference:", difference)

Difference: {10}

In [20]:
#Clear all elements from a set {1, 2, 3} and print the result.

my_set = {1, 2, 3}

# Clear all elements
my_set.clear()

print("Cleared set:", my_set)

Cleared set: set()

In [21]:
#Convert the list [1, 2, 2, 3, 3, 4, 5, 5] into a set and print the unique values.

my_list = [1, 2, 2, 3, 3, 4, 5, 5]

# Convert the list to a set to get unique values
unique_values = set(my_list)

print("Unique values:", unique_values)

Unique values: {1, 2, 3, 4, 5}

In [22]:
#Create a dictionary student = {'name': 'Alice', 'age': 20, 'grade': 'A'} and retrieve Alice’s age using get().

student = {'name': 'Alice', 'age': 20, 'grade': 'A'}

# Retrieve Alice's age using get()
age = student.get('age')

print("Alice's age:", age)

Alice's age: 20

In [23]:
#Add a new key-value pair 'school': 'XYZ High School' to the dictionary.
student = {'name': 'Alice', 'age': 20, 'grade': 'A'}

# Add new key-value pair
student['school'] = 'XYZ High School'

print("Updated dictionary:", student)

Updated dictionary: {'name': 'Alice', 'age': 20, 'grade': 'A', 'school': 'XYZ High School'}

In [24]:
#Given person = {'name': 'John', 'age': 30, 'city': 'New York'}, print only the keys.
person = {'name': 'John', 'age': 30, 'city': 'New York'}

print("Keys:", person.keys())

Keys: dict_keys(['name', 'age', 'city'])

In [25]:
#Retrieve and print only the values of {'x': 10, 'y': 20, 'z': 30}.
my_dict = {'x': 10, 'y': 20, 'z': 30}

# Print only the values
print("Values:", my_dict.values())

Values: dict_values([10, 20, 30])

In [26]:
#Remove the key `'city'` from `{'name': 'Anna', 'city': 'Paris', 'age': 25}` and print the updated dictionary.
person = {'name': 'Anna', 'city': 'Paris', 'age': 25}

# Remove the 'city' key
person.pop('city')

print("Updated dictionary:", person)

Updated dictionary: {'name': 'Anna', 'age': 25}

In [33]:
#Merge two dictionaries:  
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merged_dict = {**dict1, **dict2}

print("Merged dictionary:", merged_dict)

Merged dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [29]:
#Given `grades = {'Math': 90, 'Science': 85, 'English': 88}`, update the English grade to `95`.
grades = {'Math': 90, 'Science': 85, 'English': 88}

# Update the English grade
grades['English'] = 95

print("Updated grades:", grades)

Updated grades: {'Math': 90, 'Science': 85, 'English': 95}

In [30]:
#Convert the tuple (10, 20, 30, 40) into a list and append 50.
my_tuple = (10, 20, 30, 40)

# Convert tuple to list
my_list = list(my_tuple)

# Append 50 to the list
my_list.append(50)

print("Updated list:", my_list)

Updated list: [10, 20, 30, 40, 50]

In [31]:
#Given a dictionary fruits = {'apple': 1, 'banana': 2, 'cherry': 3}, extract its keys into a list.
fruits = {'apple': 1, 'banana': 2, 'cherry': 3}

# Extract keys into a list
keys_list = list(fruits.keys())

print("List of keys:", keys_list)

List of keys: ['apple', 'banana', 'cherry']

In [32]:
#Convert the list [1, 2, 3, 4] into a tuple and print the result.
my_list = [1, 2, 3, 4]

# Convert the list to a tuple
my_tuple = tuple(my_list)

print("Converted tuple:", my_tuple)

Converted tuple: (1, 2, 3, 4)